:root {
  --border-color: #291D4D;
  --dialog-background: #FFF3B4;

  --menu-background: #ffffff;
  --menu-border-color: #e6e6e6;
  --menu-font-color: #333333;
  --menu-selected-background: #c2c2c2;
}

* {
  box-sizing:border-box;
}

body {
  background: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Ribeye', cursive;
}

.game-container {
  position: relative; 
  width: 352px;
  height: 198px;
  margin: 0 auto;
  outline: 1px solid #fff;

  transform: scale(3) translateY(50%);
}

.game-container canvas {
  image-rendering: pixelated;
}